<!DOCTYPE html>

<html>
<head>
  <meta charset="utf-8" />
  <title>Entries</title>
  <meta name="viewport" content="initial-scale=1.0; maximum-scale=1.0; width=device-width;">
  <link rel="stylesheet" type="text/css" href="main.css">
</head>

<body>

<div class="form">
  <p style="font-size: 2em">
  	<a href='/'>
  		Submit Another Entry
  	</a>
  </p>
</div>

</body>
</html>