<!DOCTYPE html>

<html>
<head>
  <meta charset="utf-8" />
  <title>Entries</title>
  <meta name="viewport" content="initial-scale=1.0; maximum-scale=1.0; width=device-width;">
  <link rel="stylesheet" type="text/css" href="main.css">
</head>

<body>

<form class="form" action="/" method="post">
  <h2><a href='/'>Submit Another Entry</a></h2>
  <p></p>

  <p></p>
  
  
</form>

<!-- <div class="form">
  <h2 style="font-size: 1.5em">
  	<a href='/'>
  		Submit Another Entry
  	</a>
  </h2>
  <p></p>
</div> -->

</body>
</html>