<!DOCTYPE html>
<html>
<body>

<form action="/" method="post">
  First name:<br>
  <input type="text" name="firstname" value="Mickey">
  <br><br>
  <input type="submit" value="Submit">
</form> 

</body>
</html>