<!DOCTYPE html>
<html>
<body>

<!-- <form action="/" method="post">
  First name:<br>
  <input type="text" name="firstname" value="Mickey">
  <br><br>
  <input type="submit" value="Submit">
</form>  -->

<form class="form" action="/" method="post">
  <h2>CREATE AN ENTRY</h2>
  <p type="Name:"><input name="name" placeholder="Write your name here.."></input></p>
  <p type="Color:"><input name="color" placeholder="What's your favorite color?"></input></p>
  <input type="submit" value="Submit">
  <!-- <button>Send Message</button> -->
</form>

</body>
</html>